@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --pink: #f6cdce;
  --dark: #b397ae;
  --darker: #85627e;
}

body {
  font-family: "Jost", serif;
  background-color: var(--pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */
nav {
  display: flex;
  background-color: var(--dark);
  height: 60px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 0px;
  z-index: 999;
}

#navbar {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  align-items: center;
  position: sticky;
  top: 0px;
}

/* Navbar Image */
#nav-image {
  left: 5px;
  position: relative;
  cursor: context-menu;
  height: 50px;
  width: 50px;
}

.image {
  height: 48px;
  width: 50px;
}

/* Navbar Text */
#name {
  padding: 0px 18px;
  position: relative;
  cursor: context-menu;
}

.my-name {
  position: relative;
  font-weight: 600;
  font-size: 35px;
  color: var(--darker);
  margin: 0px;
}

/* Navbar Buttons */
.nav-list {
  border: none;
  display: flex;
  position: absolute;
  right: 30px;
  font-style: normal;
  text-decoration: none;
  gap: 10px !important;
}

.btn {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
  border-top: 2.3px solid var(--dark);
  border-bottom: 2.3px solid var(--dark);
  border-radius: 25px;
}

.current {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2.3px solid var(--pink);
  border-top: 2.3px solid var(--darker);
  border-radius: 22px;
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
}

.btn:hover,
.current:hover {
  font-size: 21px;
  border-radius: 22px;
  border-bottom: 2.3px solid var(--darker);
  border-top: 2.3px solid var(--pink);
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
}

.navbar-toggle {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 5px auto;
  height: 3px;
  width: 25px;
  background: var(--white);
  transition: all 0.5s ease-in-out;
}

/* Body */
#homepage {
  background-color: var(--darker);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.intro {
  position: relative;
  padding: 60px;
}

.greet {
  color: var(--pink);
  font-size: 70px;
}

.info {
  margin-top: 10px;
  font-size: 18px;
  color: var(--white);
}

.buttons {
  align-items: center;
  right: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.btnx {
  color: var(--darker);
  cursor: pointer;
  margin: 6px;
  padding: 0;
  font-family: "Jost";
  font-weight: 500;
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: var(--pink);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.btnx:hover {
  background-color: transparent;
  color: var(--pink);
  border: 2.3px solid var(--dark);
}

#sect {
  padding: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.info {
  position: relative;
}

.information {
  color: var(--darker);
  position: relative;
  display: flex;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin: auto 23px;
}

.more-text {
  display: inline;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

.more-text.show {
  opacity: 1;
  max-height: 500px;
}

.project1 {
  margin-top: 40px;
  align-items: center;
  background-color: var(--dark);
  display: flex;
  width: 80%;
  height: 300px;
  border-radius: 30px;
  position: relative;
}

.project-img {
  height: 250px;
  width: 250px;
  margin: 0px 23px;
  scale: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
}

.project2 {
  margin-top: 50px;
  align-items: center;
  background-color: var(--dark);
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 300px;
  border-radius: 30px;
  position: relative;
}

.project2 .project-img {
  height: 250px;
  width: 250px;
  margin: 0px 23px;
  scale: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
}
