@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --pink: #f6cdce;
  --dark: #b397ae;
  --darker: #85627e;
}

body {
  font-family: "Jost", serif;
  background-color: var(--pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------- Navigation Bar --------------------------- */
nav {
  display: flex;
  background-color: var(--dark);
  height: 60px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 0px;
  z-index: 999;
}

#navbar {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  align-items: center;
  position: sticky;
  top: 0px;
}

/* --------------------------- Navbar Image --------------------------- */
#nav-image {
  left: 5px;
  position: relative;
  cursor: context-menu;
  height: 50px;
  width: 50px;
}

.image {
  height: 48px;
  width: 50px;
}

/* --------------------------- Navbar Text --------------------------- */
#name {
  padding: 0px 18px;
  position: relative;
  cursor: context-menu;
}

.my-name {
  position: relative;
  font-weight: 600;
  font-size: 35px;
  color: var(--darker);
  margin: 0px;
}

/* --------------------------- Navbar Buttons --------------------------- */
.nav-list {
  border: none;
  display: flex;
  position: absolute;
  right: 30px;
  font-style: normal;
  text-decoration: none;
  gap: 10px !important;
}

.btn {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
  border-top: 2.3px solid var(--dark);
  border-bottom: 2.3px solid var(--dark);
  border-radius: 25px;
}

.current {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2.3px solid var(--pink);
  border-top: 2.3px solid var(--darker);
  border-radius: 22px;
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
}

.btn:hover,
.current:hover {
  font-size: 22px;
  border-radius: 22px;
  border-bottom: 2.3px solid var(--darker);
  border-top: 2.3px solid var(--pink);
  border-left: 0px solid var(--dark);
  border-right: 0px solid var(--dark);
}

.navbar-toggle {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 5px auto;
  height: 3px;
  width: 25px;
  background: var(--white);
  transition: all 0.5s ease-in-out;
}


/* --------------------------- Home --------------------------- */


/* --------------------------- Body --------------------------- */

#homepage {
  background-color: var(--darker);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

/* --------------------------- Other info --------------------------- */

.intro {
  position: relative;
  padding: 60px;
}

.greet {
  color: var(--pink);
  font-size: 70px;
  font-weight: 800;
}

.info {
  margin-top: 10px;
  font-size: 18px;
  color: var(--white);
}

.buttons {
  align-items: center;
  justify-content: center;
  right: 3%;
  position: relative;
  display: flex;
  flex-direction: row;
}


.btnx {
  color: var(--darker);
  cursor: pointer;
  margin: 6px;
  padding: 0;
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: var(--pink);
  border: 2.3px solid var(--pink);
  border-radius: 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  font-family: "Jost";
  font-weight: 500;
  transition: all 0.5s ease;
}

.btnx:hover {
  background-color: transparent;
  color: var(--pink);
  border: 2.3px solid var(--dark);
}

/* --------------------------- Homepage Cards --------------------------- */
#sect {
  align-items: center;
  padding: 0px 20px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.short-info {
  margin-top: 30px;
  align-self: flex-start;
  position: relative;
}

.information {
  font-size: 40px;
  color: var(--darker);
  position: relative;
  display: flex;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin: auto 23px;
}

.more-text {
  display: inline;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

.more-text.show {
  opacity: 1;
  max-height: 500px;
}

.project-text {
  color: var(--pink);
}

.project-info {
  font-size: 18px;
  color: var(--white);
}

.read-more {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  color: var(--darker);
  background-color: var(--pink);
  border-radius: 18px;
  border: 2px solid var(--pink);
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  font-family: "Jost";
  font-weight: 500;
  font-size: 18px;
}

.project1 .read-more:hover {
  background-color: transparent;
  color: var(--pink);
  border: 2.3px solid var(--darker);
}

.project1 {
  align-self: flex-end;
  margin-top: 30px;
  align-items: center;
  background-color: var(--dark);
  display: flex;
  width: 80%;
  height: 300px;
  border-radius: 45px;
  position: relative;
}

.project1 .project-text {
  color: var(--darker);
}

.project-img {
  height: 250px;
  width: 250px;
  margin: 0px 23px;
  scale: 100%;
  border: 2px solid var(--pink);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
}

.project1 .project-img {
  border: 2px solid var(--darker);
}

.project2 .read-more:hover {
  background-color: transparent;
  color: var(--pink);
  border: 2.3px solid var(--dark);
}

.project2 {
  align-self: flex-start;
  margin-top: 30px;
  align-items: center;
  background-color: var(--darker);
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 300px;
  border-radius: 45px;
  position: relative;
}

.project2 .project-img {
  height: 250px;
  width: 250px;
  margin: 0px 23px;
  scale: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
}

/* Footer */

#homepage-footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  background-color: rgb(31, 32, 44);
  color: rgb(124, 124, 126);
}

.rights {
  position: relative;
  height: 30px;
  width: 100%;
  border-top: 1px solid rgb(124, 124, 126);
}

.right-text {
  font-weight: 400;
  top: 10%;
  justify-self: center;
  position: relative;
  align-self: center;
  font-size: 15px;
}

/* --------------------------- About --------------------------- */

#about-homepage {
  background-color: var(--darker);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------- Profile-pic --------------------------- */
.profile-picture {
  display: flex;
}

.prof-pic {
  height: 250px;
  width: 250px;
  border: 5px solid var(--pink);
  border-radius: 52px;
}

/* --------------------------- Body --------------------------- */

.about-button {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--pink);
  height: 50px;
  width: 210px;
  align-items: center;
  justify-content: center;
  right: 3%;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
  border: 2.3px solid var(--pink);
  border-radius: 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.about-btnx {
  position: relative;
  color: var(--darker);
  font-size: 20px;
  font-family: "Jost";
  font-weight: 500;
  transition: all 0.5s ease;
}

.download-img {
  position: relative;
  background-image: url("./images/download-darker.svg");
  fill: none;
  height: 25px;
  width: 25px;
  background-size: cover;
  transition: all 0.5s ease;
}

.about-button:hover {
  border: 2.3px solid var(--dark);
  background-color: var(--darker);
}

.about-button:hover .about-btnx {
  color: var(--pink);
}

.about-button:hover .download-img {
  background-image: url("./images/download-pink.svg");
}

/* --------------------------- About-user --------------------------- */

#about-cards {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 20px;
}

/* .card-setps{

}

.card-info{

}

.card-details{

}

.user-card-info{

} */
